h1{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
}

#add-char{
    margin:5px;
    padding:10px;
    height:25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-radius: 12px;
    font-weight:bold;
    background-color:silver;

}
body{
    background-color:#606060;
}
button{
    margin:5px;
    padding:10px;
    height:25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 12px;
    font-weight:bold;
    background-color:silver;
    color:white;
}
button.char:focus{
    background-color:#4682B4
}
#char-view {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gifDiv{
height:250x;
width:250px;
margin:5px;
text-align: center;
display:block;
border-style:solid;
border-width:5px;
border-color:#909090;
background-color:#808080;
}

.gif{
height:200px;
width:100%;
}

p{
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
}